<ion-view view-title="Help" class="font">
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap">
    <h1 style="text-align:center">How Casher Works</h1>
    <ol>
      <li>1. Click on the type of bill you want and how much you want. (i.e. If you want five $1 bills click the 1 button 5 times.</li>
      <li>2. Casher adds up the amount of bills you want </li>
      <li>3. Click the button below that says "Get Cash".</li>
      <li>4. Your atm comes to you and gives you the cash.</li>
      <li>5. You pay the ATM via venmo.</li>  
      <li>6. Part ways!</li>
    </ol>
  </div>
</div>
  </ion-content>
</ion-view>

