 	<ion-view view-title="Casher">
  <ion-content>
    <!-- <ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list> -->
    <div>
            <div id="map" lat="37.773972" lng="-122.431297" zoom="13" map> 
            </div>

            <div width="100%" height="50px"class="list list-inset" style="margin:0px auto;">
                
                <label class="item item-input">
                    <input type="text" ng-model="user.desc" placeholder="How Much Cash?" class = "">
                </label>

                <button class="button button-full button-positive" ng-click="saveDetails()">
                    Get Cash
                </button>
            </div>
        </div>

  </ion-content>
</ion-view>

