<ion-view view-title="Casher">
  <ion-content>
    <map center="current location" zoom="13" disable-default-u-i="true" id="map">
      <marker ng-repeat="bar in bars | filter:q as results" position="{{bar.lat}}, {{bar.lng}}" on-click="show(event, bar)"></marker>

      <info-window position="current-location" visible="true">
          <span>Current Location</span>
      </info-window>
      <marker position="current location"></marker>


    </map>
     <div width="100%" height="50px"class="list list-inset" style="margin:0px auto;">
                
                <label class="item item-input">
                    <input type="text" ng-model="user.desc" placeholder="How Much Cash?" class = "">
                </label>

                <button class="button button-full button-positive" ng-click="saveDetails()">
                    Get Cash
                </button>
            </div>
        </div>
  </ion-content>
</ion-view>
