<div class="font">
<ion-view view-title="Casher">
  <ion-content>
  <!-- choose the type of bills you want and how many -->
  <div width="100%" class="list list-inset" style="margin:0px auto;" height="0px" >
                <div class="" id="buttonTab" style="border-bottom: 1px solid lightgray" >
            <div class="button-bar">
                <a class="button button-small" ng-click="handlerButtonClick('1')"
                   ng-class="{'button_active':activeContentArea==='1'}">1's</a>
                <a class="button button-small" ng-click="handlerButtonClick('5')"
                   ng-class="{'button_active':activeContentArea==='5'}">5's</a>
                <a class="button button-small" ng-click="handlerButtonClick('10')"
                   ng-class="{'button_active':activeContentArea==='10'}">10's</a>
                <a class="button button-small" ng-click="handlerButtonClick('20')"
                   ng-class="{'button_active':activeContentArea==='20'}">20's</a>
            </div>


        </div>

    <map center="current location" zoom="13" disable-default-u-i="true" id="map">
      
      <info-window position="{{atm.lat}}, {{atm.lng}}" visible="true">
      
      <marker ng-repeat="atm in atms | filter:q as results" position="{{atm.lat}}, {{atm.lng}}" on-click="show(event, atm)"></marker>

      <info-window position="current-location" visible="true">
          <span>Current Location</span>
      </info-window>
      <marker position="current location"></marker>

    

    </map>
     <div width="100%"class="list list-inset" style="margin:0px auto;">
              <label class="item item-input">
                <!-- planning to add feature that counts how many clicks and adds that value -->
                   <input type="text" ng-model="user.desc" placeholder="Your total amount">
              </label>
              <!-- user can request for "atm" to come to current location -->
                <button class="button button-full button-positive" ng-click="saveDetails()" style="background:#18bc9c">
                    Get Cash
                </button>
            </div>
        </div>
  </ion-content>
</ion-view>
</div>