<ion-view view-title="Future Plans" class="font">
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap">
    <h1 style="text-align:center">Plans for the Future</h1>
    <ol>
      <li>1. Implement Twilio to get text from nearby ATMs</li>
      <li>2. Safely take in credit card information </li>
      <li>3. Show estimated time of atm arrival </li>
      <li>4. Make two different views. User and ATM</li>
      <li>5. Get Investors</li>  
    </ol>
  </div>
</div>
  </ion-content>
</ion-view>
