

<ion-view view-title="Payment" class="font">
  <ion-content>
    <div class="card">
  <div class="item item-text-wrap">
    <h3 style="text-align:center">How Casher Works</h3>
   <ul class="list">
    <a class="item item-icon-left" href="#">
    <i class="icon ion-card"></i>
    <li>Credit card to go here</li>
  <a class="item item-icon-left" href="#">
    <i class="icon ion-cash"></i>
    <li>Will link up to Venmo or Square cash here</li>
  </a>
</ul>
  </div>
</div>
  </ion-content>
</ion-view>

